.header-top {
  background-image: url("https://cdn.xieyezi.com/nvov.jpg");
  height: 150px;
  width: 100%;
  background-size: cover;
  text-align: center;
  line-height: 36px;
}
.header-top .header-title {
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 40px;
}
.header-top .header-tip {
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 10px;
}
.Map .map-header .map-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}
.Map .map-header .map-title span {
  margin-right: 5px;
  color: honeydew;
  background-color: lightseagreen;
}
.Map .map-header .map-title p {
  color: lightsteelblue;
}
.Map .map-number {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
