.category {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category p {
  margin-bottom: 6px;
}
.category .add {
  font-size: 10px;
}
.category .tip {
  color: gray;
  font-size: 10px;
}
